html, body {margin:0; height:100%;overflow: visible;}

*{
    padding:0 px;
    box-sizing: border-box;
}


article 
{
    float: left;
	width: 100%;
	overflow: hidden;
    background-color: #f1f1f1;
	min-height: 100vh;
}



.content-container{
	margin-top: 50px;
}


.article-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.reg-title h2, .login-title h2{
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	font-size: 40px;
}

/* Register page css */
.register-main,.login-main,.profile-main, .admin-main{
	background-color: #fff;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-bottom: 3vw;
	padding-top: 4vw;
	overflow: hidden;
	box-shadow: 0 14px 20px rgba(17, 17, 17, 0.25);
	position: relative;
	max-width: 100%;
	min-height: 360px;
	width: 40%;
}

#register-form input,#login-form input, #update-profile-form input, #register-staff-form input {
	background: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}



#register-form button, #login-form button, #update-profile-form button , #register-staff-form button{
	border-radius: 20px;
	border: 1px solid #f14d30;
	background:  #f14d30;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}


.field {
	padding-bottom: 20px;
}

#register-form button:hover,#login-form button:hover, #update-profile-form button:hover, #register-staff-form button:hover{
	cursor: pointer;
	transform: scale(1.1);
}

.form-btn{
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Home Page CSS */
#h {
	margin-top: 10px;
}

.welcome {
	border-radius: 25px;
	background-image: url(../images/tree.jpg);
	padding: 20px;
	width: 76%;
	height: 98vh;
}

#source {
	position: relative;
	top: 63vh;
}

/* Footer CSS */
.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: pink;
	color: white;
	text-align: center;
	overflow: hidden;
}

.contact {
	margin-top: 5px;
	text-align: left;
}

/* About Page CSS */
#a {
	align-items: initial;
	margin-top: 0px;
}

.vertical-menu {
	width: 200px;
}

.vertical-menu div {
	background-color: mintcream;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.vertical-menu div:hover {
	background-color: mediumaquamarine;
}

.vertical-menu div.sidebar-active {
	background-color: mediumspringgreen;
	color: white;
}

.pages {
	background-color: mediumseagreen;
	padding: 20px;
	flex: 1;
	min-height: 790px;
}

div.page-active {
	display: block;
}

div.page-inactive {
	display: none;
}


/* Help page css */
.FAQ-container {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

.FAQ {
	padding-top: 25px;
	padding-bottom: 25px;
	border:none;
	background-color: #fff;
}

.help-container {
	width: 70%;
}

.help-container hr {
	width: 98%;
	border-top: 1px solid grey;
}

.FAQ p,i{
	padding-left: 10px;
	padding-right: 10px;
}

.FAQ p {
	margin: 15px;
}


.FAQ i {
	font-size: 20px;
	padding-bottom: 5px;
}

#help h1{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 7vh;
	padding-top:9vh;
	font-weight: bold;
	font-size: 6vh;
}

/* Profile Page */
.profile-main{
	box-shadow: none;
	margin-bottom: 30px;
}

.profile-name{
	font: bold;
	font-size: 30px;
	margin-bottom: 30px;
}

/* Product Page */
.product-image{
    width: 200px;
    height: 220px;
    float: left;
}

.products-details-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products {
    flex: 1 1 520px;
	margin: 15px;
}

.product-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-details-container, .search-result{
    width: 80%;
}

.product-details{
    padding-left: 230px;
    height: 180px;
}

.add-to-cart-container{
    padding-left: 200px;
}

.add-to-cart-button{
    border-radius: 20px;
	border: 1px solid #f14d30;
	background:  #f14d30;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	padding: 8px 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.add-to-cart-button:hover{
    cursor: pointer;
	transform: scale(1.1);
}

.product-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.categories-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-container a{
    padding:1rem;
    text-decoration: none;
    font-size: 2vw;
    color: black;
}
.categories-container a:hover{
    text-decoration: underline;
}

.categories-header, .search-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

/* Cart Page */

header{
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;
}

.cart-row {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cart-col {
  display: inline-block;
  float: none;
  width: 15%;
  height: auto;
  text-align: center;
  border-bottom: solid grey 1px;
  margin-right: 25px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 13px;
}

.cart-container{
	margin-top: 50px;
}

.cart-quantity-input {
  height: 25px;
  width: 50px;
}

.cart-total {
  text-align: center;
  margin-top: 35px;
}

#cart-response-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

#purchase-btn{
    border-radius: 20px;
	border: 1px solid #f14d30;
	background:  #f14d30;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	padding: 8px 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 40px auto 80px auto;
	display: block;
}

.remove-btn {
	border-radius: 20px;
	border: 1px solid #f14d30;
	background:  #f14d30;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	padding: 8px 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
  	padding: 6px;
}

.cart-item, .cart-price, .cart-size{
	padding-bottom: 13px;
}

/* Search Page */
.search-details-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media only screen and (max-width:900px){
	#help h1 {
		padding-bottom: 10vh;
		font-size: 4vh;
	}

	.reg-title h2{
		font-size: 25px;
	}

	.login-title h2{
		font-size: 25px;
	}

	#register-form button{
		font-size: 10px;
	}

	.register-main, .login-main{
		width: 70%;
	}

	.profile-main{
		width: 90%;
	}

	.profile-name{
		font-size: 25px;
	}

	#register-staff-form-container{
		width: 90%;
		padding-left: 0;
	}

}

@media only screen and (max-width:640px){
    .add-to-cart-button{
        padding: 8px 20px;
    }
}