html, body {margin:0; height:100%;}

*{
    padding:0 px;
    box-sizing: border-box;
}

/* Style for the navigation bar itself */
.topnav {
	overflow: hidden;
	background-color: lightpink;
	position: fixed;
	top: 0;
	width: 100%;
}

/* Style for the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: azure;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: limegreen;
	color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
	background-color: lightgreen;
	color: white;
}

/* Style the input container */
.topnav .search-container {
	float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

/* Style the button inside the input container */
.topnav .search-container button {
	float: right;
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.topnav .search-container button:hover {
	background: #ccc;
}

/* Style the input container */
.topnav .login-container {
	float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
	float: right;
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.topnav .login-container button:hover {
	background: #ccc;
}

article 
{
    float: left;
	width: 100%;
	overflow: hidden;
    background-color: #f1f1f1;
	min-height: 100vh;
}


#register, #help{
	display: flex;
	align-items: center;
	justify-content: center;
}

.reg-title h2{
	font-weight: bold;
}

.main-content {

	background-color: #fff;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-bottom: 3vw;
	padding-top: 2vw;
	overflow: hidden;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	max-width: 100%;
	min-height: 380px;
	width: 60%;
}

#signup-form input {
	background: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}



#signup-form button {
	border-radius: 20px;
	border: 1px solid #f14d30;
	background:  #f14d30;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.field {
	padding-bottom: 20px;
}

#signup-form button:hover{
	transform: scale(1.1);
}

.FAQ-container {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

.FAQ {
	padding-top: 25px;
	padding-bottom: 25px;
	border:none;
	background-color: #fff;
}

.help-container {
	width: 70%;
}

.help-container hr {
	width: 98%;
	border-top: 1px solid grey;
}

.FAQ p,i{
	padding-left: 10px;
	padding-right: 10px;
}



.FAQ i {
	font-size: 20px;
}

#help h1{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 13vh;
	font-weight: bold;
	font-size: 6vh;
}


@media only screen and (max-width:736px){
	#help h1 {
		padding-bottom: 3vh;
		font-size: 4vh;
	}
}