html, body {margin:0; height:100%;overflow: visible;}

*{
    padding:0 px;
    box-sizing: border-box;
}


article 
{
    float: left;
	width: 100%;
	overflow: hidden;
    background-color: #f1f1f1;
	min-height: 100vh;
}



.content-container{
	margin-top: 50px;
}


.article-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.reg-title h2, .login-title h2{
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	font-size: 40px;
}

/* Register page css */
.register-main,.login-main,.profile-main{
	background-color: #fff;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-bottom: 3vw;
	padding-top: 4vw;
	overflow: hidden;
	box-shadow: 0 14px 20px rgba(17, 17, 17, 0.25);
	position: relative;
	max-width: 100%;
	min-height: 360px;
	width: 40%;
}

#register-form input,#login-form input, #update-profile-form input {
	background: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}



#register-form button, #login-form button, #update-profile-form button , #register-staff-form button{
	border-radius: 20px;
	border: 1px solid #f14d30;
	background:  #f14d30;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#register-staff-form-container{
	position: relative;
	overflow: hidden;
	width: 70%;
	padding-left: 10vw;
	padding-top: 5vw;
}

#register-staff-form input{
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}


.field {
	padding-bottom: 20px;
}

#register-form button:hover,#login-form button:hover, #update-profile-form button:hover, #register-staff-form button:hover{
	cursor: pointer;
	transform: scale(1.1);
}

.form-btn{
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Help page css */
.FAQ-container {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}

.FAQ {
	padding-top: 25px;
	padding-bottom: 25px;
	border:none;
	background-color: #fff;
}

.help-container {
	width: 70%;
}

.help-container hr {
	width: 98%;
	border-top: 1px solid grey;
}

.FAQ p,i{
	padding-left: 10px;
	padding-right: 10px;
}

.FAQ p {
	margin: 15px;
}


.FAQ i {
	font-size: 20px;
	padding-bottom: 5px;
}

#help h1{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 7vh;
	padding-top:9vh;
	font-weight: bold;
	font-size: 6vh;
}

/* Profile Page */
.profile-main{
	box-shadow: none;
	margin-bottom: 30px;
}

.profile-name{
	font: bold;
	font-size: 30px;
	margin-bottom: 30px;
}


@media only screen and (max-width:900px){
	#help h1 {
		padding-bottom: 10vh;
		font-size: 4vh;
	}

	.reg-title h2{
		font-size: 25px;
	}

	.login-title h2{
		font-size: 25px;
	}

	#register-form button{
		font-size: 10px;
	}

	.register-main, .login-main{
		width: 70%;
	}

	.profile-main{
		width: 90%;
	}

	.profile-name{
		font-size: 25px;
	}

	#register-staff-form-container{
		width: 100%;
		padding-left: 0;
	}

}