html,body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

nav{
    z-index: 10000;
    background-color: lightpink;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: -2.5px;
}

ul{
    list-style-type: none;
}

nav a{
    color: azure;
    text-decoration: none;
}

.nav-link input[type=text] {
	padding:4px;
	border: 2px solid #ccc;
	font-size: 12px;
	border-radius: 25px;
    width: 300px;
    padding-left: 12px;
}

.searchbar-container{
    position: relative;
}

.mobile-only{
    order:3;
    text-align: center;
    width: 100%;
}



.menu li{
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.nav-logo a{
    margin-left: 20px;
    font-size: 20px;
    width: fit-content;
}

.secondary{
    border-bottom: 1px #444 solid;
}


.toggle{
    order: 1;
}

.nav-link.mobile-first{
    order: 2;
}

.searchbar {
    margin-right: 20px;
}

#search-icon{
    display: none;
}

.nav-link{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.nav-link.toggled{
    display: block;
}

.dropbtn {
    background-color: lightpink;
    border: none;
    font-size: 16px;
    color: azure;
    margin-bottom: 15px;
}

.dropdown-content {
    display: none;
}

.dropdown-content a{
    color: azure;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    color: black;
}



/* Mobile Menu */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    cursor: pointer;
}


.menu i{
    display: inline-block;
    position: relative;
    font-size: 22px;
}




/* Desktop View */

@media only screen and (min-width: 1220px) {
    .nav-link{
        display: block;
        width: auto;
        order: 1;
        
    }

    .toggle{
        order: 0;
        display: none;
    }

    .nav-logo{
        flex: 1;
        margin-left: 30px;
    }

    .mobile-first{
        order: 1    ;
    }

    .menu li{
        padding: 15px 7px;
        position: relative;
    }

    .secondary{
        border-bottom: 0;
    }

    .menu{
       justify-content: center;
    }

    .link{
        margin-right: 60px;
    }

    .nav-link a:hover{
        color: rgb(80, 69, 69);
    }

    .nav-link a::before {
        content: '';
        display: block;
        height: 4px;
        width: 0%;
        background-color: limegreen;
        position: absolute;
        top: 0%;
        transition: all ease-in-out 200ms;
    }

    .link:hover a:before{
        width: 80%;
    }

    .active.nav-link.link a:before{
        width: 80%;
    }

    #search-icon{
    display: inline-block;
    position: absolute;
    right: 2%;
    width: 22px;
    padding-top:2px;
    cursor: pointer;
    }

    .nav-link.cart {
    order:2;
    margin-right: 60px;
    }

    .dropdown{
        margin-right: 60px;
        position: relative;
        display: inline-block;
    }

    .dropdown:hover .dropdown-content {
    display: block;
    }

    .mobile-only{
        display: none;
    }

    .dropbtn {
        margin-bottom: 0px;
        padding-left: 25px;
        padding-bottom: 20px;
        margin-top: 20px;
        outline:none;
    }

    .dropdown-content{
        position: absolute;
        background-color: lightpink;
        padding-right: 100px;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        height: 100px;
    }

    .dropdown-content a{
        padding-top: 20px;
    }
}
